services:
  app:
    container_name: airline_route_manager_app
    build:
      context: .
      dockerfile: Dockerfile
    networks:
      - airline_net
    ports:
      - "8080:8080"
    environment:
      SPRING_PROFILES_ACTIVE: docker

      SPRING_DATASOURCE_URL: jdbc:postgresql://airline_route_manager_db:5432/airline_route_manager
      SPRING_DATASOURCE_USERNAME: airline_route_manager
      SPRING_DATASOURCE_PASSWORD: airline_route_manager

      SPRING_DATA_REDIS_HOST: redis
      SPRING_DATA_REDIS_PORT: 6379

networks:
  airline_net:
    external: true